@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--color-primary: 90 140 110;
	--color-secondary: 206 216 158;

	--color-accent: 234 150 64;
	--color-accent-light: 245 229 214;

	--color-error: 233 79 55;
	--color-error-light: 254 226 226;

	--color-warning: 234 179 8;
	--color-warning-light: 254 249 195;

	--color-success: 34 139 84;
	--color-success-light: 220 252 231;

	--color-grey-light: 248 247 245;
	--color-grey-medium: 200 200 195;
	--color-grey-dark: 90 90 85;
	--color-black: 0 0 0;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}
